body {
    background: #19181D;
    font-family: Fira, Arial;
    font-size: 14px;
}

h1 {
    font-size: 15px;
    color: #FF82FF;
}

a {
    text-decoration: none;
    color: #8282FF;
}

table {
    font-size: 14px;
    color: #819b93;
    border-spacing: 10 0;
}

hr {
  border: 0;
  border-top: 1px solid;
  border-color: #646f79;
  margin: 1em 0;
}

.info {
    color: #778899;
}

.timestamp {
    color: #646f79;
}

.error {
    color: #FF8899;
}
