@font-face {
    font-family: Fira;
    src: url('/fonts/FiraCode-VF.woff2') format('woff2');
}

* {
    font-size: 12px;
}

html {
    background: #19181D;
    font-family: Fira, Arial;
}

a {
    text-decoration: none;
    color: #8282FF;
}

table {
    color: #819b93;
    border-spacing: 10 1;
}

hr {
    border: 1;
    border-color: #646f79;
    margin: 1em 0;
}

.info {
    color: #778899;
}

.timestamp {
    color: #646f79;
}
