<!DOCTYPE html>
<html lang="en">
    <head>
        <title>A-APKS</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Android APKs">
        <link rel="apple-touch-icon" sizes="180x180" href="/apps/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/apps/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/apps/img/favicon-16x16.png">
        <link rel="manifest" href="/apps/json/site.webmanifest">
        <link rel="stylesheet" href="/apps/css/main.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>
