@font-face {
    font-family: Fira;
    font-display: swap;
    src: url('/apps/font/FiraCode-VF.woff2') format('woff2');
}

:root {
    --font: 12px;
    --font-small: 10px;
    --black: #19181D;
    --magenta: #956485;
    --gray: #789;
    --gray-dark: #4d5760;
    --blue: #8282FF;
    --blue-dark: #414168;
    --green: #819b93;
    --green-dark: #5c716b;
    --green-darker: #39423f;
}

html {
    font-family: Fira, monospace;
    font-size: var(--font);
    background: var(--black);
}

a {
    text-decoration: none;
    color: var(--blue-dark)
}

table {
    font-size: var(--font);
    color: var(--green-darker);
    border: solid;
    border-radius: 10px;
    border-spacing: 1em 0;
}

table .provider {
    font-size: var(--font-small);
    color: var(--magenta);
}

table .label {
    color: var(--green);
}

table .version {
    color: var(--green);
}

table .version[title] {
    cursor: help;
}

table .pkg {
    color: var(--green-dark);
}

table .main-link a {
    color: var(--blue);
}

table .main-link,
table .extra-link {
    font-size: var(--font-small);
    white-space: nowrap;
}

.info {
    color: var(--gray)
}

.info .data {
    color: var(--gray-dark)
}

@media only screen and (width <= 800px) {
    table .version,
    table .pkg,
    table .date,
    table .size {
        display: none;
    }
}
