@font-face {
    font-family: Fira;
    font-display: swap;
    src: url('/apps/font/FiraCode-VF.woff2') format('woff2');
}

:root {
    --font: 12px;
    --fontSmall: 10px;

    --black: #19181D;
    --magenta: #956485;
    --gray: #778899;
    --grayDark: #4d5760;
    --blue: #8282FF;
    --blueDark: #414168;
    --green: #819b93;
    --greenDark: #5c716b;
    --greenDarker: #39423f;
}

html {
    font-family: Fira, monospace;
    font-size: var(--font);
    background: var(--black);
}

a {
    text-decoration: none;
    color: var(--blueDark)
}

table {
    font-size: var(--font);
    color: var(--greenDarker);
    border: solid;
    border-radius: 10px;
    border-spacing: 1em 0em;
}

table .provider {
    font-size: var(--fontSmall);
    color: var(--magenta);
}

table .label {
    color: var(--green);
}

table .version {
    color: var(--green);
}

table .version[title] {
    cursor: help;
}

table .pkg {
    color: var(--greenDark);
}

table .main_link a {
    color: var(--blue);
}

table .main_link,
table .extra_link {
    font-size: var(--fontSmall);
    white-space: nowrap;
}

.info {
    color: var(--gray)
}

.info .data {
    color: var(--grayDark)
}

@media only screen and (max-width: 800px) {
    table .version,
    table .pkg,
    table .date,
    table .size {
        display: none;
    }
}
